#app{
    display: flex;
    justify-content: center;
}
#arena{
    position: absolute;
    width: 90%;
    height: 70%;
    border: 1px solid black;
    background-color: rgb(0, 179, 255);
} 
#object{
    width: 100px;
    height: 100px;
    background-image: url(hanip.jpg);
    top: 50%;
    left: 50%;
    position: absolute;
}
button{
    width: 100%;
}
td{
    width: 50px;
}
#controller{
    position: absolute;
    top: 80%;
}